body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #212121;
}

/* button {
  cursor: pointer;
} */

/* Шапка */

/* .header {
  border-bottom: 1px solid #ececec;
} */

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}
.logo-span {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
/* 
  .navigation {
}  
  .navigation-list-item {  
}
*/
.navigation-list {
  list-style: none;
}
.navigation-list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #2196f3;
}

/*  
  .header-contacts-list-item {    
}
*/
.header-contacts-list {
  list-style: none;
}
.header-contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

/* Головний контент сторінки index.html */
/* Секція-Герой */
.section-hero {
  background-color: #2f303a;
}
.section-hero-header {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.section-hero-button {
  cursor: pointer;
  background: #2196f3;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #fff;
}

/* Секція-Переваги */
/* .advantages {
}*/
.advantages-header {
  opacity: 0;
}
.advantages-list {
  list-style: none;
}
.advantages-list-item-header {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantages-list-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Заголовки двох секцій "Що ми робимо" та "Наша команда" */
.section-header {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Секція-Що ми робимо */
/* .what-we-do {
 }
  */
.what-we-do-list {
  list-style: none;
}
/* Секція-Наша команда */
.our-team {
  background: #f5f4fa;
}
.our-team-cards-list {
  list-style: none;
}
.our-team-card-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.our-team-card-job {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Сторінка Портфоліо */
/* Секція-Фільтри */
/* .filter {
} */
.filter-header,
.products-header {
  opacity: 0;
}
.filter-list {
  list-style: none;
}
.filter-list-button {
  cursor: pointer;
  background: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.filter-list-button:hover,
.filter-list-button:focus {
  background: #2196f3;
  color: #fff;
}
/* Секція-Наші продукти */
.products-list {
  list-style: none;
}
.products-list-header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.products-list-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Підвал */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #fff;
}
.footer-addres-list {
  list-style: none;
  color: #ffffff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.footer-address-contacts-link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
